<a href="https://colab.research.google.com/github/ikramhasanli/demo-repo/blob/main/ENCE_3503_Fall_2024_hw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ENCE 3503: Fall 2024 Homework 2

## Submission Instructions
**Latest attempt** will be graded. Not following any one of the instructions below will result in **zero grade**:

- Rename your file by including your student information (Name and ID): **ENCE_3503_Fall_2024_hw02_StudentName_ID.ipynb**
- Submit your updated `.ipynb` file to your **Github Classroom Repository** (accept it at: https://classroom.github.com/a/5w6zTZ3-)
- Submit your updated `.ipynb` file to **Blackboard**.
- Update **Student Information** (see below).

## Student Information

**Full Name:** Ikram Hasanli

**ID:** 15235

**Github Repository URL:** https://github.com/ADA-SITE-ENCE-3503/pandas-matplotlib-ikramhasanli

## Homework Instructions

In all tasks, you should preferably **add additional cells and markdown comments** as necessary. You should handle possible **exceptional cases** and test your functions. Generally, you have flexibility on how you handle the problem, but all the written **instructions** must be met. Your code should be clear and understandable. Don't remove any comment/cell that the notebook already has.

Download **IMDB Top 1000** movies database (`.csv`) file from https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows.

In [54]:
# Import libraries (run the cell)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
# Uncomment and run the code below if you are working in google colab to upload the csv
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/imdb_top_1000.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
# Update the csv filepath below accordingly and run this cell to import csv
filepath = "/content/drive/MyDrive/imdb_top_1000" # update this line
imdb = pd.read_csv(filepath + '.csv')

In [62]:
# The code below is for grading. It is ok to run such cells, but you won't use them.
task = np.zeros(100, dtype=np.uint8)

In [63]:
# Print out columns, then rename them however you wish (make them simpler).
print('Original columns: ', imdb.columns)
imdb.rename(columns={'Poster_Link': 'poster', 'Series_Title': 'title', 'Released_Year': 'year', 'Certificate': 'certificate', 'Runtime': 'runtime', 'Genre':'genre', 'IMDB_Rating': 'rating', 'Overview': 'overview', 'Meta_score': 'metascore', 'Director': 'director', 'Star1': 'star1', 'Star2': 'star2', 'Star3': 'star3', 'Star4': 'star4', 'No_of_Votes': 'votes', 'Gross': 'gross'}, inplace=True) #I simplified the words for much easier future usage (by trying to avoid '_' or uppercase letters)
# Drop/delete poster column.
imdb.drop('poster', axis=1, inplace=True) #Via curiosity, I realized for this to run, this box should run once only (as afterwards, there will not be any 'poster' column anymore, and it will not be able to be removed, which leads to an error)
print('New columns: ', imdb.columns)
# Show first 3 rows.
print(imdb.head(3)) #it did not print without print
task[1] = 1 # Task 1 gives 1 point.

Original columns:  Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')
New columns:  Index(['title', 'year', 'certificate', 'runtime', 'genre', 'rating',
       'overview', 'metascore', 'director', 'star1', 'star2', 'star3', 'star4',
       'votes', 'gross'],
      dtype='object')
                      title  year certificate  runtime                 genre  \
0  The Shawshank Redemption  1994           A  142 min                 Drama
1             The Godfather  1972           A  175 min          Crime, Drama
2           The Dark Knight  2008          UA  152 min  Action, Crime, Drama

   rating                                           overview  metascore  \
0     9.3  Two imprisoned men bond over a number of years...       80.0
1     9.2  An organized crime dynasty's aging patriarch t...      100.0
2     9.0  When the menace known as the Joker wreaks havo...       84.0

               director           star1           star2          star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart

            star4    votes        gross
0  William Sadler  2343110   28,341,469
1    Diane Keaton  1620367  134,966,411
2   Michael Caine  2303232  534,858,444

In [64]:
# Show relevant statistics about the data (e.g. five number summary).
print(imdb.describe()) #this code shows basic relevant statistics for numerical columns, there seems to be string values in 'Year' and 'gross' columns because they were not printed. Also, in 'runtime' the statistics cannot be calculated because of 'min'
# Explain what you understand from this summary.
task[2] = 3

            rating   metascore         votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [66]:
# Analyze your data. Is there missing (NaN) or incorrect values? What are they? # there seems to be string values in 'Year' and 'gross' columns because they were not printed. Also, in 'runtime' the statistics cannot be calculated because of 'min'
# Are there imprecise data types (e.g. string instead of integer)? Fix/populate them.
imdb['year'] = pd.to_numeric(imdb['year'], errors='coerce') #year column has strings instead of ints in some rows, so we are ensuring that they are shown as "NaN" not to affect the result
imdb['gross'] = imdb['gross'].astype(str).str.replace(r'[$,]', '', regex=True) # we remove "$" sings from this (I wrote it with 2 lines because in the previous there were not mixtures of int and string in 1 line, but separate)
imdb['gross'] = pd.to_numeric(imdb['gross'], errors='coerce') # we change all the non-numeric values (strings) to "NaN"
imdb['runtime'] = imdb['runtime'].astype(str).str.replace(r' min', '', regex=True) #removing the 'min' str to calculate the mean
imdb['runtime'] = pd.to_numeric(imdb['runtime'], errors='coerce')  # considering all the non-numeric values in this column as "NaN"
for a in ['year', 'votes', 'metascore', 'gross', 'runtime']: #we replace "NaN"s with the mean to make it accurate
    imdb[a] = imdb[a].fillna(imdb[a].mean()) #filling NaN with the mean values
print(imdb.describe()) #printing 5 number summary
task[3] = 4

              year      runtime       rating   metascore         votes  \
count  1000.000000  1000.000000  1000.000000  1000.00000  1.000000e+03
mean   1991.217217   122.891000     7.949300    77.97153  2.736929e+05
std      23.285362    28.093671     0.275491    11.36206  3.273727e+05
min    1920.000000    45.000000     7.600000    28.00000  2.508800e+04
25%    1976.000000   103.000000     7.700000    72.00000  5.552625e+04
50%    1999.000000   119.000000     7.900000    77.97153  1.385485e+05
75%    2009.000000   137.000000     8.100000    85.25000  3.741612e+05
max    2020.000000   321.000000     9.300000   100.00000  2.343110e+06

              gross
count  1.000000e+03
mean   6.803475e+07
std    1.000371e+08
min    1.305000e+03
25%    5.012919e+06
50%    4.238945e+07
75%    6.803475e+07
max    9.366622e+08

In [ ]:
# Generate statistics again. What new do you see? What does it tell you?
task[4] = 2

In [ ]:
# Write a function which will return N highest rated movies of a given year.
# It should accept dataframe, year and movie count N and return a new dataframe with top movies from imdb.
# It should also be possible to get movies by metascore, instead of imdb rating.
task[5] = 5

In [ ]:
# Print out the highest rated movie of every decade (e.g. 1980s) using your function above.
task[6] = 5

In [ ]:
# Write a function which will get the commercially most successful N directors.
task[7] = 5

In [ ]:
# Write a function to find actors who starred the most amount of times in top movies.
# (imdb rating 8 or more, metascore 90 or more)
# Who is at the top of the list?
task[8] = 5

In [ ]:
# Write a function which will get the commercially most successful N actors.
task[9] = 5

In [ ]:
# Write a function which will find the highest rated movie by a given genre.
# Both imdb rating and metascore options should exist.
# Add a flag which will choose among movies with only one genre (e.g. just Comedy)
task[10] = 5

In [ ]:
# Get all the possible genres and store them in a Series variable.
# Call the function you created and print out the top movies by every genre.
task[11] = 5

In [ ]:
# Write a function which will find the most common genre by a decade.
# What is the most common genre of 1970s? Or 1980s? Why?
task[12] = 5

In [ ]:
# Find great movies which are not well known.
# Get movie names which have 20,000 votes or less, while
# having rating of 8 or more. Make an option for metascore (90 or more).
task[13] = 5

In [ ]:
# Write a function which will return a dictionary of statistics about a director:
# - Movie Title Series with year
# - Best rated movie(s)
# - Worst rated movie(s)
# - The average imdb rating of movies
# - The average metascore of movies
# - The average runtime of movies
# - The total gross (box office) revenue
# - Genres of movies directed
task[14] = 10

In [ ]:
# Write a function which should plot a histogram showing movie frequency by every year
# Function should accept a range of start year and end year.
task[15] = 10

In [ ]:
# Write a function which will accept a numpy array of director names
# and generate a bar chart based on the movie count of each director
task[16] = 10

In [ ]:
# Find and plot correlation between columns:
# - year and gross
# - year and runtime
# - runtime and gross
# - rating (for both imdb and metascore) and gross
# - rating and runtime
# Explain for each case why we may see such results
task[17] = 15

In [ ]:
task.sum()

100