<a href="https://colab.research.google.com/github/ikramhasanli/demo-repo/blob/main/ENCE_3503_Fall_2024_hw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ENCE 3503: Fall 2024 Homework 2

## Submission Instructions
**Latest attempt** will be graded. Not following any one of the instructions below will result in **zero grade**:

- Rename your file by including your student information (Name and ID): **ENCE_3503_Fall_2024_hw02_StudentName_ID.ipynb**
- Submit your updated `.ipynb` file to your **Github Classroom Repository** (accept it at: https://classroom.github.com/a/5w6zTZ3-)
- Submit your updated `.ipynb` file to **Blackboard**.
- Update **Student Information** (see below).

## Student Information

**Full Name:** Ikram Hasanli

**ID:** 15235

**Github Repository URL:** https://github.com/ADA-SITE-ENCE-3503/pandas-matplotlib-ikramhasanli

## Homework Instructions

In all tasks, you should preferably **add additional cells and markdown comments** as necessary. You should handle possible **exceptional cases** and test your functions. Generally, you have flexibility on how you handle the problem, but all the written **instructions** must be met. Your code should be clear and understandable. Don't remove any comment/cell that the notebook already has.

Download **IMDB Top 1000** movies database (`.csv`) file from https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows.

In [54]:
# Import libraries (run the cell)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
# Uncomment and run the code below if you are working in google colab to upload the csv
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/imdb_top_1000.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
# Update the csv filepath below accordingly and run this cell to import csv
filepath = "/content/drive/MyDrive/imdb_top_1000" # update this line
imdb = pd.read_csv(filepath + '.csv')

In [62]:
# The code below is for grading. It is ok to run such cells, but you won't use them.
task = np.zeros(100, dtype=np.uint8)

In [63]:
# Print out columns, then rename them however you wish (make them simpler).
print('Original columns: ', imdb.columns)
imdb.rename(columns={'Poster_Link': 'poster', 'Series_Title': 'title', 'Released_Year': 'year', 'Certificate': 'certificate', 'Runtime': 'runtime', 'Genre':'genre', 'IMDB_Rating': 'rating', 'Overview': 'overview', 'Meta_score': 'metascore', 'Director': 'director', 'Star1': 'star1', 'Star2': 'star2', 'Star3': 'star3', 'Star4': 'star4', 'No_of_Votes': 'votes', 'Gross': 'gross'}, inplace=True) #I simplified the words for much easier future usage (by trying to avoid '_' or uppercase letters)
# Drop/delete poster column.
imdb.drop('poster', axis=1, inplace=True) #Via curiosity, I realized for this to run, this box should run once only (as afterwards, there will not be any 'poster' column anymore, and it will not be able to be removed, which leads to an error)
print('New columns: ', imdb.columns)
# Show first 3 rows.
print(imdb.head(3)) #it did not print without print
task[1] = 1 # Task 1 gives 1 point.

Original columns:  Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')
New columns:  Index(['title', 'year', 'certificate', 'runtime', 'genre', 'rating',
       'overview', 'metascore', 'director', 'star1', 'star2', 'star3', 'star4',
       'votes', 'gross'],
      dtype='object')
                      title  year certificate  runtime                 genre  \
0  The Shawshank Redemption  1994           A  142 min                 Drama
1             The Godfather  1972           A  175 min          Crime, Drama
2           The Dark Knight  2008          UA  152 min  Action, Crime, Drama

   rating                                           overview  metascore  \
0     9.3  Two imprisoned men bond over a number of years...       80.0
1     9.2  An organized crime dynasty's aging patriarch t...      100.0
2     9.0  When the menace known as the Joker wreaks havo...       84.0

               director           star1           star2          star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart

            star4    votes        gross
0  William Sadler  2343110   28,341,469
1    Diane Keaton  1620367  134,966,411
2   Michael Caine  2303232  534,858,444

In [64]:
# Show relevant statistics about the data (e.g. five number summary).
print(imdb.describe()) #this code shows basic relevant statistics for numerical columns, there seems to be string values in 'Year' and 'gross' columns because they were not printed. Also, in 'runtime' the statistics cannot be calculated because of 'min'
# Explain what you understand from this summary.
task[2] = 3

            rating   metascore         votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [69]:
# Analyze your data. Is there missing (NaN) or incorrect values? What are they? # there seems to be string values in 'Year' and 'gross' columns because they were not printed. Also, in 'runtime' the statistics cannot be calculated because of 'min'
# Are there imprecise data types (e.g. string instead of integer)? Fix/populate them.
imdb['year'] = pd.to_numeric(imdb['year'], errors='coerce') #year column has strings instead of ints in some rows, so we are ensuring that they are shown as "NaN" not to affect the result
imdb['gross'] = imdb['gross'].astype(str).str.replace(r'[$,]', '', regex=True) # we remove "$" sings from this (I wrote it with 2 lines because in the previous there were not mixtures of int and string in 1 line, but separate)
imdb['gross'] = pd.to_numeric(imdb['gross'], errors='coerce') # we change all the non-numeric values (strings) to "NaN"
imdb['runtime'] = imdb['runtime'].astype(str).str.replace(r' min', '', regex=True) #removing the 'min' str to calculate the mean
imdb['runtime'] = pd.to_numeric(imdb['runtime'], errors='coerce')  # considering all the non-numeric values in this column as "NaN"
for a in ['year', 'votes', 'metascore', 'gross', 'runtime']: #we replace "NaN"s with the mean to make it accurate
    imdb[a] = imdb[a].fillna(imdb[a].mean()) #filling NaN with the mean values
task[3] = 4

In [70]:
# Generate statistics again. What new do you see? What does it tell you?
print(imdb.describe()) #printing 5 number summary
# I see that all the 5 num summary has been accurately calculated. The string values have first been replaced with NaN, and then they have been replaced with mean values. This is why the 5 number summary is shown right
task[4] = 2

              year      runtime       rating   metascore         votes  \
count  1000.000000  1000.000000  1000.000000  1000.00000  1.000000e+03
mean   1991.217217   122.891000     7.949300    77.97153  2.736929e+05
std      23.285362    28.093671     0.275491    11.36206  3.273727e+05
min    1920.000000    45.000000     7.600000    28.00000  2.508800e+04
25%    1976.000000   103.000000     7.700000    72.00000  5.552625e+04
50%    1999.000000   119.000000     7.900000    77.97153  1.385485e+05
75%    2009.000000   137.000000     8.100000    85.25000  3.741612e+05
max    2020.000000   321.000000     9.300000   100.00000  2.343110e+06

              gross
count  1.000000e+03
mean   6.803475e+07
std    1.000371e+08
min    1.305000e+03
25%    5.012919e+06
50%    4.238945e+07
75%    6.803475e+07
max    9.366622e+08

In [156]:
# Write a function which will return N highest rated movies of a given year.
# It should accept dataframe, year and movie count N and return a new dataframe with top movies from imdb.
# It should also be possible to get movies by metascore, instead of imdb rating.
def rankingmovies(df):  # function that returns the n-highest-rated movies of a given year
    while True: #I decided to make it sustainable so that user will enter the values untill it gets valid
        year_input = input("Enter the year (earliest being 1920): ") #user inputting the year for year
        if year_input.isdigit() and int(year_input) >= 1920: #Error values, I chose 1920 because the earliest movie is 1920 (checked by imdb['year'].min())
            year = int(year_input) #year is integer
            break #stop
        print(f"movies not found for {year_input}. Please enter a valid year(earliest being 1920).") #printing that untill valid input

    while True: #untill user input is right/as many times
        cnt = input("Enter the number of top movies to retrieve: ") #user inputting the movie number for cnt
        if cnt.isdigit() and int(cnt) > 0: #Error value would be anything less than 1 because it needs at least 1 movie to rate
            n = int(cnt) #again int because we are working with integers
            break #stop when it is right
        print("There should be at least one movie") #print that the input is not valid

    while True:
        by = input("Sort by 'rating' or 'metascore': ") #user chooses to rank either by rating or metascore
        if by in ['rating', 'metascore']:
            break
        print("Please choose either 'rating' or 'metascore'") #outputs this until user chooses one of them as a valid input

    movies_of_year = df[df['year'] == year]  #filtering movies by year

    if movies_of_year.empty:  # Checks if it is empty, and if it is, outputs the below text
        print(f"no movies found for {year}")
        return None

    if by == 'rating': #sorting movies
        top_movies = movies_of_year.sort_values(by='rating', ascending=False).head(n) #sorting movies by rating
    else:
        top_movies = movies_of_year.sort_values(by='metascore', ascending=False).head(n) #sorting movies by metascore

    return top_movies #returning the top_movies (ranking)

top_movies_df = rankingmovies(imdb) #calling the function to show the result (ranking) for user input

if top_movies_df is not None: #if not empty, print
    print(top_movies_df)

task[5] = 5

Enter the year (earliest being 1920): 1919
movies not found for 1919. Please enter a valid year(earliest being 1920).
Enter the year (earliest being 1920): 1920
Enter the number of top movies to retrieve: 100
Sort by 'rating' or 'metascore': rating
                            title    year certificate  runtime  \
321  Das Cabinet des Dr. Caligari  1920.0         NaN       76

                        genre  rating  \
321  Fantasy, Horror, Mystery     8.1

                                              overview  metascore  \
321  Hypnotist Dr. Caligari uses a somnambulist, Ce...   77.97153

         director          star1         star2            star3        star4  \
321  Robert Wiene  Werner Krauss  Conrad Veidt  Friedrich Feher  Lil Dagover

     votes         gross
321  57428  6.803475e+07

In [157]:
# Print out the highest rated movie of every decade (e.g. 1980s) using your function above.
def highest_rated_per_dec(df): #creating a function for it
    decades = range(1920, 2021, 10) #I found the last movie year to be 2020 by the function imdb['year].max()
    for first_decade in decades:
        last_decade = first_decade + 9 #creates a start of each decade (each decade starts from 0 till 9 (1920-1929))
        decade_movies = df[(df['year'] >= first_decade) & (df['year'] <= last_decade)] #indexing by year
        if not decade_movies.empty:
            highest_rated = decade_movies.loc[decade_movies['rating'].idxmax()] #finding the highest rated movie by finding biggest index
            print(f"highest rated movie of the {first_decade}s: {highest_rated['title']} (Rating: {highest_rated['rating']})") #printing
highest_rated_per_dec(imdb) #printing the function (the ratings of the highest ranked movie for each decade)
task[6] = 5

highest rated movie of the 1920s: Metropolis (Rating: 8.3)
highest rated movie of the 1930s: Modern Times (Rating: 8.5)
highest rated movie of the 1940s: It's a Wonderful Life (Rating: 8.6)
highest rated movie of the 1950s: 12 Angry Men (Rating: 9.0)
highest rated movie of the 1960s: Il buono, il brutto, il cattivo (Rating: 8.8)
highest rated movie of the 1970s: The Godfather (Rating: 9.2)
highest rated movie of the 1980s: Star Wars: Episode V - The Empire Strikes Back (Rating: 8.7)
highest rated movie of the 1990s: The Shawshank Redemption (Rating: 9.3)
highest rated movie of the 2000s: The Dark Knight (Rating: 9.0)
highest rated movie of the 2010s: Inception (Rating: 8.8)
highest rated movie of the 2020s: Hamilton (Rating: 8.6)

In [158]:
# Write a function which will get the commercially most successful N directors.
def successful_directors(df, n):
  director_gross = df.groupby('director')['gross'].sum() #using director and gross columns to group them together (to find the ones who get most money)
  top_directors = director_gross.sort_values(ascending=False).head(n) #sorting gross in decreasing order

  return top_directors

while True: #letting user input as many times
    try:
        n = int(input("the number of directors: "))  #user inputting
        if n <= 0: #invalid input case
            print("There should be at least 1 director")
            continue
        break  #if input is valid
    except ValueError: #str or float
        print("Invalid input. Please enter a positive integer.") #this output will be shown unless the input is right

top_num_directors = successful_directors(imdb, n) #call the function with user input, n and imdb(the columns director and gross)
print(top_num_directors)

task[7] = 5

the number of directors: 4
director
Steven Spielberg     2.478133e+09
Anthony Russo        2.205039e+09
Christopher Nolan    1.937454e+09
James Cameron        1.748237e+09
Name: gross, dtype: float64

In [159]:
# Write a function which will get the commercially most successful N actors.
def successful_actors(df, n):
  #actor_gross = df.groupby[('star1')['gross'].sum(), ('star2')['gross'].sum(), ('star3')['gross'].sum(), ('star4')['gross'].sum()] #using actor columns to group them together (to find the ones who get most money)
  actors_and_gross = df.melt(id_vars=['gross'], value_vars=['star1', 'star2', 'star3', 'star4'], var_name='star_role', value_name='actor') #melt is used in pandas to represent several columns together bc they represent the same data type, so I merged star1 to star4 by the name of actors
  actor_gross = actors_and_gross.groupby('actor')['gross'].sum() #grouping by actor (previously merged star1 to star4)
  top_actors = actor_gross.sort_values(ascending=False).head(n) #sorting in decreasing (ascending=False) order
  return top_actors

while True: #letting user input many times (condition based)
    try:
        n = int(input("the number of successful actors: "))  #user inputting
        if n<=0: #invalid input case
            print("There should be at least 1 actor")
            continue
        break  #if input is valid
    except ValueError: #str or float
        print("Invalid input. Please enter a positive integer.") #this output will be shown unless the input is right

top_actors = successful_actors(imdb, n)
print(top_actors)

task[9] = 5

the number of successful actors: 10
actor
Robert Downey Jr.    3.129073e+09
Tom Hanks            2.903565e+09
Chris Evans          2.339664e+09
Joe Russo            2.205039e+09
Mark Ruffalo         2.126430e+09
Leonardo DiCaprio    2.049297e+09
Ian McKellen         1.869869e+09
Rupert Grint         1.835901e+09
Daniel Radcliffe     1.835901e+09
Matt Damon           1.728542e+09
Name: gross, dtype: float64

In [160]:
# Write a function to find actors who starred the most amount of times in top movies.
# (imdb rating 8 or more, metascore 90 or more)
def actors_starred_most(df):
  top_movies = df[(df['rating'] >= 8) & (df['metascore'] >= 90)] #imdb rating 8 or more, metascore 90 or more
  list_of_actors = pd.concat([top_movies['star1'], top_movies['star2'], top_movies['star3'], top_movies['star4']]) #this concat function helps to call several columns at the same time, and we call all the ones with actors
  actor_cnt =list_of_actors.value_counts() #counting how many time they have appeared
  return actor_cnt

actor_cnt = actors_starred_most(imdb) #calling the main function imdb to retrieve
print(actor_cnt)
# Who is at the top of the list?
print("actor at the top of the list:", actor_cnt.index[0]) #printing the actor at the top of the list
task[8] = 5

James Stewart      5
Marlon Brando      4
Robert De Niro     3
Orson Welles       3
Humphrey Bogart    3
                  ..
Merna Kennedy      1
Sam Wood           1
Mark Hamill        1
Jean Martin        1
Ivan Bobrov        1
Name: count, Length: 347, dtype: int64
actor at the top of the list: James Stewart

In [ ]:
# Write a function which will find the highest rated movie by a given genre.
# Both imdb rating and metascore options should exist.
# Add a flag which will choose among movies with only one genre (e.g. just Comedy)
def highest_rated_movie_by_genre(df, genre, by='rating', single_genre=False): #genre, rating, and considering movies with all genres
  if single_genre: # single_genre is set to true (movies with a single genre) are:
        moviegenre=df[df['genre'].str.contains(',', na=True)] #if there is no ',' in a list of genres, it basically means that there is just one genre
        moviegenre=moviegenre[moviegenre['genre'].str.contains(genre, case=False, na=False)] #moviegenre is a subsite of df, only including single genre movies. It accesses the genre column of imdb. case=False ignores the upper/lowercase scenario(Comedy=comedy), na=False ignores NaN values so that they are not involved in the results
  else:
        moviegenre = df[df['genre'].str.contains(genre, case=False, na=False)] #the function takes all the genres of multi-genre movies
  if moviegenre.empty: #if nothing is inputted
        print(f"no movies found for {genre}") #print this
        return None
  if by== 'rating': #if user chooses to classify by rating
        highest_rated = moviegenre.loc[moviegenre['rating'].idxmax()] #loc function accesses the rating colum (using the highest index finds the highest rated based on rating)
  elif by == 'metascore': #if user chooses metascore criteria
        highest_rated = moviegenre.loc[moviegenre['metascore'].idxmax()] #loc function acceses the metascore column (using the highest index finds the highest rated based on metascore)
  else: #if invalid
        print("Please choose either 'rating' or 'metascore'") #invalid input
        return None

  return highest_rated

while True: #user will enter as many times as he/she wants (a condition loop)
    genre_input= input("enter the genre: ") #user inputs the movie genre
    single_genre_input = input("Consider movies with only one genre ('yes' or 'no'):").strip().lower()
    rtng_type = input("based on 'rating' or 'metascore'? ").strip().lower() #extra spaces (by strip()) are ignored and the same about uppercases, they are transformed to lowercases (lowwer())

    highest_movie =highest_rated_movie_by_genre(imdb, genre_input, by=rtng_type) #defining highes_movie as the genre

    if highest_movie is not None: #if there is a valid result
        print(f"Highest rated movie in genre {genre_input} (based on {rtng_type}): {highest_movie['title']} (Rating:{highest_movie['rating']}, Metascore:{highest_movie['metascore']})") #organizing the sentence to first show the genre, then the criteria (rating/metascore), then the movie name, and I also decided to include both rating and metascore as well for clarity
task[10] = 5

enter the genre: comedy
Consider movies with only one genre ('yes' or 'no'):yes
based on 'rating' or 'metascore'? metascore
Highest rated movie in genre comedy (based on metascore): City Lights (Rating:8.5, Metascore:99.0)
enter the genre: comedy
Consider movies with only one genre ('yes' or 'no'):no
based on 'rating' or 'metascore'? metascore
Highest rated movie in genre comedy (based on metascore): City Lights (Rating:8.5, Metascore:99.0)
enter the genre: drama
Consider movies with only one genre ('yes' or 'no'):no
based on 'rating' or 'metascore'? rating
Highest rated movie in genre drama (based on rating): The Shawshank Redemption (Rating:9.3, Metascore:80.0)
enter the genre: drama
Consider movies with only one genre ('yes' or 'no'):yes
based on 'rating' or 'metascore'? rating
Highest rated movie in genre drama (based on rating): The Shawshank Redemption (Rating:9.3, Metascore:80.0)

In [ ]:
# Get all the possible genres and store them in a Series variable.
# Call the function you created and print out the top movies by every genre.
task[11] = 5

In [ ]:
# Write a function which will find the most common genre by a decade.
# What is the most common genre of 1970s? Or 1980s? Why?
task[12] = 5

In [ ]:
# Find great movies which are not well known.
# Get movie names which have 20,000 votes or less, while
# having rating of 8 or more. Make an option for metascore (90 or more).
task[13] = 5

In [ ]:
# Write a function which will return a dictionary of statistics about a director:
# - Movie Title Series with year
# - Best rated movie(s)
# - Worst rated movie(s)
# - The average imdb rating of movies
# - The average metascore of movies
# - The average runtime of movies
# - The total gross (box office) revenue
# - Genres of movies directed
task[14] = 10

In [ ]:
# Write a function which should plot a histogram showing movie frequency by every year
# Function should accept a range of start year and end year.
task[15] = 10

In [ ]:
# Write a function which will accept a numpy array of director names
# and generate a bar chart based on the movie count of each director
task[16] = 10

In [ ]:
# Find and plot correlation between columns:
# - year and gross
# - year and runtime
# - runtime and gross
# - rating (for both imdb and metascore) and gross
# - rating and runtime
# Explain for each case why we may see such results
task[17] = 15

In [143]:
task.sum()

35